/* Default (Dark Mode) */
:root {
  --color-text: #f8f9fa;
  --color-primary: #434d7e;
  --color-secondary: #205954;
  --color-dark: #2d2e32;
  --color-bg: #121212;

  --font-roboto: roboto
}

/* Light Mode */
:root.light-mode {
  --color-text: #1a1a1a;
  --color-primary: #94a8ff;
  --color-secondary: #2ec4b6;
  --color-dark: #f3fad7;
  --color-bg: rgba(248, 247, 235, 0.88);
}
